# Backend
library-management-system/target/
library-management-system/.mvn/wrapper/maven-wrapper.jar
library-management-system/.idea/
library-management-system/*.class
library-management-system/*.jar
library-management-system/*.war
library-management-system/*.ear
library-management-system/*.log

# Frontend
library-frontend/node_modules/
library-frontend/dist/
library-frontend/.env
library-frontend/.env.local
library-frontend/.env.development.local
library-frontend/.env.test.local
library-frontend/.env.production.local
library-frontend/npm-debug.log*
library-frontend/yarn-debug.log*
library-frontend/yarn-error.log*

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.bak
*.tmp
